$sidebar-width: 200px;


.leaflet-control-layers-selector {
	top: -1px;
}

.leaflet-control-attribution {
  max-width: $sidebar-width;
  background: #eee !important;
}

.leaflet-top.leaflet-right {
  height: 100%;
  width: $sidebar-width;
}

.leaflet-control-layers {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0 !important;
  background: #eee;

  label {
  	font-size: 14px;
  	line-height: 1.8;
  }
}

/* icons in layer list */
.leaflet-control-layers-overlays {

  label {
    position: relative;

    > span {
      position: static;
      margin-left: 18px;

      span {
        width: 12px;
        height: 20px;
        background-position: 0px 3px;
        background-repeat: no-repeat;
        background-size: 12px 30px;
        position: absolute;
        margin-left: -18px;
      }
    }
  }
}

.embassy-999999 {
  background-image: url('../img/pin-s-embassy+999999.png');
}
.star-0000ff {
  background-image: url('../img/pin-s-star+0000ff.png');
}
.star-00ff00 {
  background-image: url('../img/pin-s-star+00ff00.png');
}
.star-00ffff {
  background-image: url('../img/pin-s-star+00ffff.png');
}
.star-9900ff {
  background-image: url('../img/pin-s-star+9900ff.png');
}
.star-cc00ff {
  background-image: url('../img/pin-s-star+cc00ff.png');
}
.star-ff0000 {
  background-image: url('../img/pin-s-star+ff0000.png');
}
.star-ff00ff {
  background-image: url('../img/pin-s-star+ff00ff.png');
}
.star-ff9900 {
  background-image: url('../img/pin-s-star+ff9900.png');
}
.star-ffff00 {
  background-image: url('../img/pin-s-star+ffff00.png');
}
