@import 'leaflet.label.css';
@import '_MousePosition.scss';
@import '_popups.scss';
@import '_sidebar.scss';

html, body, .application {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 100%;
}
